# Standard Python .gitignore file
__pycache__/
*.py[cod]
*$py.class

# Byte-compiled / optimized / DLL files
*.pyo
*.pyd
*.so

# C extensions
*.c
*.cpp

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule files
celerybeat-schedule

# dotenv
.env
.env.*

# virtualenv
.venv/
venv/
ENV/
env/

# Spyder project settings
.spyderproject
.spyderproject.*

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/

# VSCode
.vscode/

# Mac OS
.DS_Store

# Logs
*.log

# Streamlit specific
.streamlit/config.toml
